article {
    padding: 7%;
    margin-bottom: 5.89%;
}

#adminButton img, #customerButton img {
    background-color: #ffcad3;
    border-radius: 10%;
    margin-left: 15%;
}

a h3 {
    text-align: center;
    color: #494241;
    margin-top: 13;
}

#adminButton:hover, #customerButton:hover {
    opacity: 70%;
    color: #8b8988;
}